body {
    text-align: center;
    font-family: "Comic Sans MS";
    background-color: #15194d;
    color: white;
}

header {
    font-size: 3vw;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#scoreboard {
    text-align: left;
    font-size: 1.5rem;
    background-color: #1f1f3c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table {
    border-width: 1vw;
    border-color: white;
    border-style: solid;
    margin: auto;
    border-collapse: collapse;
    width: 40vw;
    height: 40vw;
    aspect-ratio: 1;
    table-layout: fixed;
}

td {
    border-color: white;
    border-style: solid;
    border-width: 1vw;
    height: 15vw;
    width: 15vw;
    font-size: 9vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

td:hover {
    background-color: #212778;
    color: black;
}

button#reset {
    background-color: #0c0c55; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 1.5rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button#reset:hover {
    background-color: #15194d; 
    transform: scale(1.1); 
}

button#reset:active {
    background-color: #15194d;
    transform: scale(1); 
}

button#return {
    background-color: #0c0c55; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 1.5rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button#return:hover {
    background-color: #15194d; 
    transform: scale(1.1); 
}

button#return:active {
    background-color: #15194d;
    transform: scale(1); 
}
