*{
    color: white;
    background-color: black;
    font-family: 'Comic Sans MS';

    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
}

p{
    display: inline;
    background-color: transparent;
}

div {
    background-color: transparent;
}

body{
    
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)), url('../gierek.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: block;
}

table{
    margin-top:1vh;
    width: 80vw;
    height: 80vh;
    border: 1px solid lightslategray;
    border-radius: 5px;
    background-color: gray;

    table-layout: fixed;
}

td{
    width: 2vw;
    height: 2vh;
    border: 1px solid #010203;
    background-color: black;

    /*prevents users selecting text inside the cells*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: 0;

    color: #222222;
}

.visible{
    opacity: 1;
    background-color: #222222;
}

.bomb{
    background-color: #111111;
}

.flagBackground{
    background-color: #010203;
}

button{
    min-width: 100px;
    height: 30px;

    background-color: lightgray;
    border: 5% solid gray;
    border-radius: 10px;
    
    color: black;

    transition: scale 0.3s;
    font-size: 15px;
}

button:hover{
    scale: 1.2;
    border: 10% solid gray;
    animation-name: rgb;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#buttons {
    color: transparent;
    background-color: transparent;
}

@keyframes rgb {
    0%   {border-color:red;}
  10%  {border-color:orangered;}
  20%  {border-color:orange;}
  30%  {border-color:yellow;}
  40% {border-color:greenyellow;}
  50% {border-color: aqua;}
  60% {border-color: #008cff;}
  70% {border-color: blue;}
  80% {border-color: blueviolet;}
  90% {border-color: magenta;}
  100% {border-color: red;}
}

img {
    background-color: transparent;
}