*{  
    font-family: 'Comic Sans MS';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)), url('../gierek.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.button {
    font-size: 20px;
}

button{
    min-width: 200px;
    height: 60px;

    background-color: lightgray;
    border: 5% solid gray;
    border-radius: 10px;
    
    color: black;

    transition: scale 0.3s;
    font-size: 20px;
}

button:hover{
    scale: 1.2;
    border: 10% solid gray;
    animation-name: rgb;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes rgb {
    0%   {border-color:red;}
  10%  {border-color:orangered;}
  20%  {border-color:orange;}
  30%  {border-color:yellow;}
  40% {border-color:greenyellow;}
  50% {border-color: aqua;}
  60% {border-color: #008cff;}
  70% {border-color: blue;}
  80% {border-color: blueviolet;}
  90% {border-color: magenta;}
  100% {border-color: red;}
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

table, td, th {
    border: 5% solid gray;
    border-radius: 10px;
}

#board {
    margin-left: auto;
    margin-right: auto;
    border: 5% solid gray;
    border-radius: 10px;
}

.topedge {
    background-color: white;
    height: 25px;
    width: 100px;
    border: 5% solid gray;
    border-radius: 10px;
}

.leftedge {
    background-color: white;
    height: 100px;
    width: 25px;
    border: 5% solid gray;
    border-radius: 10px;
}

.field:hover {
    background-color: rgb(0, 255, 0);
}

.field {
    height: 100px;
    width: 100px;
}

#turnButton {
    height: 100px;
    width: 150px;
    float: left;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

#turn {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#turnDiv {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.mark{
    background-color: #8ACE00;
}